@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

*{
    padding: 0;
    margin: 0;
    outline: 0;
    border: none;
    box-sizing: border-box;
}

img{
    width: 100%;
    display: flex;
}

a{
    text-decoration: none;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #18181B;
    scroll-behavior: smooth;
}

nav{
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo{
    max-width: 100px;
}

.nav-links{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #1EDFF6;
    transition: all 0.4s ease;
}

.btn-grad {
            background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            box-shadow: 0 0 20px #eee;
            border-radius: 10px;
            display: block;
}

.btn-grad:hover {
            background-position: right center; /* change the direction of the change here */
            color: #fff;
            text-decoration: none;
}


.link a:hover::after{
    width: 70%;
}

.btn{
            background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
            margin: 10px;
            padding: 15px 45px;
            text-align: center;
            text-transform: uppercase;
            transition: 0.5s;
            background-size: 200% auto;
            color: white;            
            border-radius: 10px;
            display: block;
            cursor: pointer;
}

.btn:hover{
    background-position: right center;
}

.btn:active{
    background-image: linear-gradient(to right, #12D8FA 0%, #12D8FA  51%, #12D8FA  100%);
}


.container{
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    min-height: 100vh;
}

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px rgb(40, 180, 245);
    z-index: -100;
    left: 85px;
    top: 400px;
}

header{
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h1{
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span{
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p{
    margin-bottom: 2rem;
    color: #ccc;
}

header .image{
    position: relative;
}

header .headerImage::before{
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(260px) translateX(105px); 
    font-size: 40rem;
    font-weight: 400;
    line-height: 20rem;
    background-image: linear-gradient(to right, #1FA2FF 0%, #1FA2FF 25%, #12D8FA  41%,  #49e4ff  71%, #1FA2FF  100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    opacity: 0.8;
    z-index: -100;
    
}

section h2{
    color: #fff;
    text-align: center;
    font-size: 5rem;
    padding: 2rem 4rem;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: auto;
    padding: 10rem 10rem;
    gap: 4rem;
    min-height: calc(100vh - 192px) ;
    align-items: center;
}

.card{
    background-image: linear-gradient(to bottom, #1FA2FF 0%, #12D8FA  100%);
    height: fit-content;
    border-radius: 5% 20% 20% 5%;
    max-width: 450px;
    border: 2px solid #fff;
}

.card:hover{
    background-image: linear-gradient(to bottom, #12D8FA  0%, #1f5bff 50%, #1FA2FF 100%);
    transition: all 2s ease;
}

.card h5{
    color: #ccc;
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1rem;
}

.card p{
    color: #ccc;
    font-size: 1rem;
    text-align: center;
    padding-top: 2rem;
}

.cardImg{
    border-radius: 5% 20% 20% 5%;
    width: fit-content;
}

